<%= button_to "Add new image", new_image_path, method: :get %>

<h1>Images</h1>

<table id="images_list" class="row">
  <% @images.each do |image| %>
      <tr class="js-image-card">
        <td><%= link_to(image_tag(image.imagelink, class: "image-preview"), image_path(image.id), class: "js-image-link")%></td>
        <td><%= raw(image.tag_list.map { |t| link_to t, images_path(tag: t) }.join(', ')) %></td>
      </tr>
  <% end %>
</table>

<% if @tag_flag %>
<%= button_to "Clear tag filter" , images_path, method: :get%>
<% end %>
