<p>
  <%= image_tag @image_url, class: 'image-show' %>
</p>

<p>Tags: <%= raw(@image.tag_list.map { |t| link_to t, images_path(tag: t) }.join(', ')) %></p>

<%= link_to 'Delete the image', image_path(@image), method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<%= link_to 'Back to Home', images_path %>


